html {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100Vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to right, red, blue);
}

h1{
    font-size: 4rem;
    color: rgb(196, 179, 179);
    text-transform: uppercase;
}

input {
    margin: 0 1rem;
}

h2 {
    margin-top: 17rem;
    color: rgb(196, 179, 179);
}

h3 {
    color: rgb(196, 179, 179);
    font-size: 2rem;
}

button {
    cursor: pointer;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    background-color: rgb(196, 179, 179);
    color: rgb(97, 26, 26);
    font-weight: 700;
    border-radius: 10px;
}

button:hover {
    transform: scale(1.03);
}